<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Über Uns</h2>
                    <h3 class="section-subheading text-muted">Zuhause. Heute.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2015</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Im Jahr 2014 begann unser Abenteuer im Immobiliengeschäft mit dem Erwerb einer einzigartigen Immobilie in der charmanten Andreasstraße. Heute stehen wir stolz an Ihrer Seite, um Ihre Wohnträume zu verwirklichen. Lassen Sie uns gemeinsam Ihre Geschichte schreiben – mit Vertrauen, Kompetenz und Leidenschaft für Immobilien. Willkommen bei Ihrem vertrauenswürdigen Partner für Immobilienerfolge!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2019</h4>
                                    <h4 class="subheading">Immobilienmanagement & Reinigung</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Seit August 2019 bieten wir Ihnen ein Rundum-Sorglos-Paket: Kaufen, Bauen, Verwalten und Reinigen – alles aus einer Hand! Mit Fabienne Peters als Verstärkung in unserem Team sind wir bereit, Ihre Immobilienwünsche umfassend zu erfüllen. Vertrauen Sie auf unseren erweiterten Service und erleben Sie Immobilienmanagement auf einem neuen Level.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2024</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Heute</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
